<!-- home.component.html -->

<section class="hero">
    <div class="hero-content">
      <h2>Welcome to Our Angular App</h2>
      <p>Experience the power of Angular for building dynamic web applications.</p>
    </div>
  </section>
  
  <section class="features">
    <h3>Key Features</h3>
    <ul>
      <li>Component-based architecture</li>
      <li>Two-way data binding</li>
      <li>go to <a routerLink="/grid">  grid</a></li>      
      <li>go to <a routerLink="/ag-grid"> Ag Grid Example</a></li>      
      <li>go to <a routerLink="/product-list">product list</a></li>
      <li>go to <a routerLink="/stepper">Stepper</a></li>
      <li>go to <a routerLink="/auto-complete">Auto Complete</a></li>
      <li>go to <a routerLink="/host">Dynamic Creation</a></li>
    </ul>
  </section>  

  <section class="cta">
    <h3>Start Building with Angular Today!</h3>
    <a href="#" class="btn">Get Started</a>
  </section>          