<!-- home.component.html -->

<section class="hero">
    <div class="hero-content">
      <h2>Welcome to Our Angular App</h2>
      <p>Experience the power of Angular for building dynamic web applications.</p>
    </div>
  </section>
  
  <section class="features">
    <h3>Key Features</h3>
    <ul>
      <li>Component-based architecture</li>
      <li>Two-way data binding</li>
      <li>Dependency injection</li>
      <li>Go to the <a routerLink="/angular-components/grid">grid</a> </li>            
    </ul>
  </section>  

  <section class="cta">
    <h3>Start Building with Angular Today!</h3>
    <a href="#" class="btn">Get Started</a>
  </section>
  

  
  

  